<app-navbar>  </app-navbar>


<div fxLayoutAlign="center center">
  <mat-card fxFlex="30">
    <form [formGroup]="Paymentform" (ngSubmit)="submitData()">
        <google-pay-button
              environment="TEST"
              buttontype="buy"
              buttonColor="white"
              [paymentRequest]="paymentRequest"
              (loadpaymentdata)="onLoadPaymentData($event)">
        </google-pay-button><br>
        <ngx-recaptcha2 #captchaElem 
      [siteKey]="siteKey"
      
      formControlName="recaptcha">
    </ngx-recaptcha2>
       
        <button mat-button type="button" [disabled]="Paymentform.invalid" (click)="Book_id()">GET BOOKING ID</button><br>
        <button mat-button type="button" [disabled]="Paymentform.invalid" (click)="serve()">CHECK-IN</button><br>
    </form>

    
  </mat-card> 

  
</div>
<router-outlet></router-outlet>  