<mat-toolbar color='primary'>Flight Booking

    <div class="spacer"></div>
    
    <a mat-button (click)="verify1()">Home</a>
    <a mat-button (click)="verify()">Admin</a>
    <a mat-button (click)="send()" routerLink="/search">Search-Flights</a>
    <a mat-button *ngIf="!auth.loggedIn()" routerLink="/register">Register</a>


    <a mat-button  *ngIf="!auth.loggedIn()" routerLink="/login">Login</a>
    <a mat-button  *ngIf="auth.loggedIn()" routerLink="" (click)="auth.logoutUser()">Logout</a>
    


</mat-toolbar>
 
