
 <h1>                </h1>
        <div fxLayoutAlign="center center" >     
            <mat-card fxFlex="25"> 
                <mat-toolbar >Register Flights</mat-toolbar>
                <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="RegisterForm" (ngSubmit)="submitData()">
                    <mat-form-field> 
                        <input  matInput type="text" formControlName="Flight_id" class="form-control" name="registerObj.Flight_id"  [(ngModel)]='registerObj.Flight_id' placeholder="Enter Flight Id">
                    </mat-form-field>
                <mat-form-field> 
                    <input  matInput type="text" formControlName="name" class="form-control" name="registerObj.name"  [(ngModel)]='registerObj.name' placeholder="Enter Flight Name">
                </mat-form-field>
                <mat-form-field> 
                    <input  matInput type="text" formControlName="from" class="form-control" name="registerObj.starting"  [(ngModel)]='registerObj.starting' placeholder="Enter Starting Place">
                </mat-form-field>
                <mat-form-field> 
                    <input  matInput type="text" formControlName="to" class="form-control" name="registerObj.ending"  [(ngModel)]='registerObj.ending' placeholder="Enter Destination Place">
                </mat-form-field>
                <mat-form-field> 
                    <input  matInput type="text" formControlName="departure" class="form-control" name="registerObj.departure"  [(ngModel)]='registerObj.departure' placeholder="Enter Departure Date">
                </mat-form-field>
                <mat-form-field> 
                    <input  matInput type="text" formControlName="price" class="form-control" name="registerObj.total"  [(ngModel)]='registerObj.total' placeholder="Enter Ticket Price">
                </mat-form-field>
                <mat-form-field> 
                    <input  matInput type="text" formControlName="class1" class="form-control" name="registerObj.type1"  [(ngModel)]='registerObj.type1' placeholder="Enter Class Type">
                </mat-form-field>
        
                <button [disabled]="RegisterForm.invalid" mat-button  (click)='sendData()' type="button" >Submit</button>
                <button  mat-button  (click)='deleteData()' type="button" >Delete Flight</button>
            </form>
            </mat-card> 
        </div>